* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

label {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  color: #525d6f;
  opacity: .4;
  transition: opacity .4s ease-in-out;
  display: block;
  /* width: calc(100% - 48px); */
  width: 100%;
  text-align: right;
  z-index: 1;
  user-select: none;
  padding: 18px;
  margin-bottom: 15px;
  position: relative;
}

.tab-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  background-color: black;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.tab-label.active-border::before {
  opacity: 1;
}

.tab {
  z-index: 2;
}

input[type="radio"] {
  display: none;
  width: 0;
}

label:hover,
input[type="radio"]:checked+label {
  opacity: 1;
}

.popup {
  width: 100%;
  height: 100%;
  min-height: 480px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 16px 16px 48px #2e364330;
  overflow: hidden;
  margin: 10px;

}

.tabs {
  width: 100%;
  max-width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}



.marker {
  position: absolute;
  width: 100%;
  height: 200%;
  display: flex;
  flex-direction: column;
  top: calc(-100%);
  left: 0;
  transition: transform .2s ease-in-out;
}

.marker .bottom,
.marker .top {
  background-color: #F7F6FB;
  box-shadow: 32px 32px 48px #2e364315;
  border-right: 1px solid black;

}

.marker .top {
  height: calc(49.3%);
  margin-bottom: auto;
  border-radius: 0 0 15px 0;
  border-bottom: 1px solid black;
}

.marker .bottom {
  height: calc(50% - 60px);
  border-radius: 0 15px 0 0;
  border-top: 1px solid black;
}

.content {
  position: absolute;
  left: 240px;
  top: 0;
  width: calc(100vw - 260px);
  padding-top: 80px;
  padding-left: 25px;
  height: 100vh;
  border: 1px solid black;
  border-left: 0;
}

#tab1:checked~.marker {
  transform: translateY(calc(calc(10% / 6) * 1));
}

#tab2:checked~.marker {
  transform: translateY(calc(calc(58% / 6) * 1));
}

#tab3:checked~.marker {
  transform: translateY(calc(calc(53.1% / 6) * 2));
}

#tab4:checked~.marker {
  transform: translateY(calc(calc(51.5% / 6) * 3));
}

#tab5:checked~.marker {
  transform: translateY(calc(calc(50.7% / 6) * 4));
}

#tab6:checked~.marker {
  transform: translateY(calc(calc(50.2% / 6) * 5));
}

input[type='text'] {
  background-color: #eeeeeea4;
}

@media (max-width:900px) {
  .tabs {
    width: 25%;
  }

  .tabs label {
    font-size: 16px;
  }
}

@media (max-width:643px) {
  .tabs {
    width: 20%;
  }

  .tabs label {
    font-size: 12px;
  }
}